header > p {
  margin-top: 4px;
  text-wrap: balance;
}

.status-section {
  margin-top: 20px;
  height: 80px;
  border-radius: 4px;
  color: var(--color-text-light);
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-section > p {
  font-weight: 500;
}

.you-win {
  background-color: var(--color-background-gametext-correct);
}

.you-lose {
  background-color: #BA2A2A;
}

.languages-wrapper {
  margin: 36px auto 0 auto;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5px;
}

.language-card {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

.current-word-wrapper {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.current-word-letter {
  border-bottom: 1px solid var(--color-text-light);
  min-width: 40px;
  min-height: 40px;
  padding: 6px;
  font-size: 18px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.keyboard-section {
  margin: 64px auto 0 auto;
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.alphabet-letter {
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--color-background-gametext);
  color: var(--color-text-dark);
  padding: 6px;
  font-size: 18px;
  text-transform: uppercase;
}

.alphabet-letter:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.new-game-btn {
  margin: 36px auto 0 auto;
  display: block;
  border: 1px solid var(--color-text-light);
  border-radius: 4px;
  padding: 12px 42px;
  background-color: var(--color-background-newgame-btn);
  color: var(--color-text-dark);
  font-weight: 600;
}

.right-letter {
  background-color: var(--color-background-gametext-correct);
}

.wrong-letter {
  background-color: var(--color-background-gametext-wrong);
}

.language-card.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.farewell {
  border-radius: 4px;
  border: 1px dashed #323232;
  background: #7A5EA7;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; 
}