:root {
    --color-background: #282726;
    --color-text-light: #F9F4DA;
    --color-text-light-secondary: #8E8E8E;
    --color-text-dark: #1E1E1E;
    --color-background-gametext: #FCBA29;
    --color-background-gametext-correct: #10A95B;
    --color-background-gametext-wrong: #EC5D49;
    --color-background-gameinput: #323232;
    --color-background-newgame-btn: #11B5E5;
    --font-primary: 'Hanken Grotesk', sans-serif;

    --color-background-css: #7A5EA7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text-light);
    font-family: var(--font-primary);
}

h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}